//btn size
.btn{
  display: inline-block;
  text-align: center;
  border-radius: rem(8);
  &.btn-nomal{
    width: rem(82);
    font-size:rem(14);
    padding:rem(6) 0;
  }
  &.btn-wide{
    width: 100%;
    font-size: rem(18);
    padding: rem(15) 0;
  }
  &.btn-half{
    width: 50%;
    padding: rem(15) 0;
    font-size: rem(16);
  }
  &.btn-small{
    width: rem(48);
    padding: rem(5) 0;
  }
}
//btn type
.btn{
  &.btn-border{
    border:rem(1) solid $black;
    color: $black;
    &.primary-border{
      border: rem(1) solid $primary;
      color: $primary;
    }
  }
  &.btn-blue-gradation{
    background-image: url(../images/bg-gradation.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
  }
  &.btn-gray{
    background-color: $pinkishGrey;
    color: $white;
  }
  &.btn-primary{
    background-color: $primary;
    color: $white;
  }
}
.btn-group{
  display: flex;
  .btn{
    margin-right: rem(11);
    &:last-child{
      margin-right: 0;
    }
  }
}
.btn-wide-group{
  .btn{
    margin-bottom: rem(16);
    &:last-child{
      margin-bottom: 0;
    }
  }
}