
.icon-circle-prev{
  @include icon-setting;
  background-image: url(../images/prev-arrow.png);
  width:rem(30);
  height:rem(30);
}
.icon-circle-next{
  @include icon-setting;
  background-image: url(../images/next-arrow.png);
  width:rem(30);
  height:rem(30);
}
.icon-gray-arrow{
  @include icon-setting;
  background-image: url(../images/ico_gray_arrow.png);
  width: rem(24);
  height: rem(24);
}