.list-table{
  display: flex;
  ul{
    width: 100%;
    li{
      font-size: rem(12);
      text-align: center;
      line-height: rem(41);
      border-bottom:rem(1) solid  $table-border;
      &:first-child{
        background-color: $table-th-bg;
        font-weight: $medium-bold;
        font-size: rem(13);
        line-height: rem(41);
        text-align: center;
        letter-spacing: -0.33pt;
      }
    }
  }
  &.row-type{
    ul{
      margin-right: rem(2);
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &.col-type{
    flex-wrap: wrap;
    ul{
      display: flex;
      margin-bottom:rem(7);
      li{
        flex: 1 1 56%;
        text-align: left;
        &:first-child{
          flex: 1 1 44%;
          padding-left: rem(12);
          margin-right: rem(12);
        }
      }
    }
  }
}

.wide-list{
  ul{
    >li{
      border-bottom:rem(1) solid $greyish;
      a{
        width: 100%;
        padding: rem(18) rem(24);
        @include flex-prefix-suffix;
        .prefix{
          width: 80%;
          flex-direction: column;
          align-items: baseline;
          .question{
            width: 100%;
            font-size: rem(14);
            line-height: rem(25);
            margin-bottom: rem(4);
            @include ellipsis;
          }
          .state{
            font-size: rem(12);
            ul{
              display: flex;
              li{
                position: relative;
                padding:0 rem(12);
                color: $greyish;
                border-bottom: 0;
                &:after{
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: rem(1);
                  height: rem(14);
                  background-color: $greyish;
                }
                &.answer-state{
                  &.waiting{
                    color:$burple;
                   }
                }
                &.name{
                  color:$lightishBlue;
                }
                &:last-child{
                  &:after{
                    display: none;
                  }
                }
                &:first-child{
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}