.lnb{
  border-bottom: rem(1) solid $lnb-border;
  ul{
    display: flex;
    li{
      margin-right: rem(24);
      padding-bottom: rem(13);
      &:last-child{
        margin-right: 0;
      }
      a{
        color:$greyish;
      }
      &.active{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom:0;
          width: 100%;
          height: rem(4);
          background-color: $black;
        }
        a{
          color: $black;
        }
      }
    }
  }
}