@mixin flex-prefix-suffix{
  display: flex;
  .prefix, .suffix{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin flex-prefix-center-suffix {
  .prefix, .center, .suffix{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin ellipsis {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin icon-setting {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}