body, html{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR';
}
body{
  -webkit-text-size-adjust : none;
  *{
    box-sizing: border-box;
  }
}
ul,ol,li, dl, dt, dd{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  color: #000000;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
input, select, textarea, fieldset, button{
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
}
table{
  border-collapse: collapse;
}
em{
  font-style: normal;
}
textarea{
  resize: none;
}
.hidden{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
img{
  display: inline-block;
}