.title{
  font-size: rem(32);
  line-height: rem(42);
  font-weight: $bold;
  letter-spacing: -0.4pt;
}
.sub-title{
  font-size: rem(16);
  line-height: rem(22);
  font-weight: $bold;
  letter-spacing: -0.4pt;
}