//font-weight
$thin: 100;
$light: 300;
$normal: 400;
$medium-bold:500;
$semi-bold: 700;
$bold: 800;


//color
$white:#ffffff;
$black:#000000;
$red:#ff3221;
$pinkishgray:#ebebeb;
$pinkishgray-two:#bcbcbc;
$disable:#dadada;
$blue:#0482e2;
$flatBlue:#3859ae;
$sky:#d5e5f5;
$primary:$blue;
$brownishGrey:#6e6e6e;
$paleGrey:#f1f4f6;
$paleGrey-two:#f1f3f6;
$greyish:#afafaf;
$pinkishGrey:#cccccc;
$burple:#7d3cde;
$lightishBlue:#3962fc;
$gnbBg: #0682e2;
$lightGray: #c2c2c2;

//background
$table-th-bg:$paleGrey;

//border
$table-border:#ededed;
$lnb-border:$paleGrey-two;
$btn-border:#707070;